.bucket-container {
    margin-top: 25px;
    padding-top: 25px;
}

.bucket-item {
    border:  1px solid grey;
    border-radius: 5px;
    padding: 16px;
    display: flex;
    margin: 20px;
}
.buttons {
    align-self: center;
    margin-left: auto;
}
.content {
    margin: 0 20px;
    overflow: hidden;
}

.bucket-image {
    width: 150px;
    height: 150px;
}